
.footer {
    width: 100%;
    display: block;
    font-size: 13px;
    /* padding: 32px; */
    margin: 22px 20px;
    justify-content: space-between;
    text-align: center;
  }
  
  .footer-txt {
    width: 100%;
    /* margin: 32px; */
  }
  
  .copyright {
    font-size: 11px;
    margin: 32px;
    color: #a798b7;
    text-align: center;
    position: relative;
  }
  